@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* makes sizing simpler */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */
* {
    margin: 0;
    padding: 0;
    font: inherit;
}

/* min body height */
body {
    min-height: 100vh;
}

/* responsive images/videos */
img,
picture,
figure,
svg,
video {
    display: block;
    max-width: 100%;
}

/* make headings wrap better */

h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
    margin-bottom: 3rem;
}

p,
li,
figcaption {
    text-wrap: pretty;
    max-width: auto;  
     margin-bottom: 3rem; 
     font-weight: bolder;
      font-size: large;
}

h1 {
      
   padding: 3rem 3rem;
.universityName {
    line-height: 3rem;
    margin-bottom: 3rem;
    color: rgb(224, 236, 236);
    font-size: xx-large;
    text-align: center;
    height: 16rem;
    width: 16rem;
}
}
:root {
    /* light */
    --clr-BGCbody: #fcfafa;
    --clr-Cbody: #0c0c0c;


    /* dark */
    --clr-darkBGCbody: #000000;
    --clr-darkCbody: #f3f5f8;

}

body {
    font-family: "Inter", serif;
    background-color: var(--clr-BGCbody);
    color: var(--clr-Cbody);
}


@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark light;
    }

    body {
        background-color: var(--clr-darkBGCbody);
        color: var(--clr-darkCbody);
    }
}

#universities-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 2rem;
   padding-bottom: 2rem;
  margin-left: 4rem;
  margin-right: 4rem;
    background-color: white;
text-align: center;
    gap: 1rem;
    justify-content: center;

}

    article {
        display: grid;
        grid-template-columns: 1fr;
        background-color: black;
        color: white;
      
        padding: 1rem;
        cursor: pointer;
        border-radius: 35px;
        &:hover {
            transform: scale(1.03);
            transition: transform 0.2s;
        }

        figure {
            margin: 0;
            height: 50px;
            width: 50px;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;

            p {
                margin: 0;

                .universityName{
                    background-color: rgb(18, 18, 18);
                    color: white;

                }

            }
        }
        h2,
        p {
            max-width: 15rem;
            text-wrap: balance;
        }
    }

/* إعدادات عامة */
body {
    font-family: 'Playwrite VN', Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #1080f8;

}

header {
    background-color: #007bff;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 20px 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
footer {
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 20px 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);  
}

header h1 {
    margin: 0;
    font-size: 48px;
    font-weight: bold;

}

header div span {
    font-size: 16px;
    font-weight: 300;
    margin: 0 10px;
}

.page-buttons {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    background: #f9f9f9;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #5171cf;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    background-color: transparent;

}




/*الأزرار */
.ppBtn {
    background-color: #4499f4;
    margin-right: 5px;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.ppBtn:hover {
    background-color: #0056b3;
}

.npBtn {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.npBtn:hover {
    background-color: #c82333;
}